<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <h1>페이지 응답</h1>
    <button class="button1">버튼1</button>
    <button class="button2">버튼2</button>

    <script type="text/javascript">

        const button1 = document.querySelector(".button1");
        const button2 = document.querySelector(".button2");

        button1.onclick = () => {
            let student = {
                name:"ehdud",
                phone:"010-1111-1111",
                email:"ehdud05264@naver.com",
                address:"김해 율하"
            };

            $.ajax({
                async:false,
                type:"post",
                url:"/study/student/1",
                contentType:"application/json",
                data:JSON.stringify(student),
                success:response =>{
                    alert(response);
                },
                error:response =>{
                    alert("요청 실패")
                }
            });
        }
        
        button2.onclick = () => {
            $.ajax({
                async:false,
                type:"get",
                url:"/study/student/2",
                dataType:"json",
                success:response=>{
                    console.log(response)
                    alert("데이터 저장을 성공했습니다.")
                },
                error:response=>{
                    console.log(response)
                    alert("데이터 저장을 실패했습니다.")
                }
            });
        }


    </script>
</body>
</html>